@{
    ViewBag.Title = "Acuueil";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Files/covid19_1.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/Content/Files/sport_1.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/Content/Files/travail1.png" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Santé</h2>
        <ul>
            La santé est « un état de complet bien-être physique, mental et social, et ne consiste pas seulement en une absence de maladie ou d'infirmité ». Dans cette définition par l'Organisation mondiale de la santé, OMS, depuis 1946, la santé représente « l’un des droits fondamentaux de tout être humain, quelles que soient sa race, sa religion, ses opinions politiques, sa condition économique ou sociale »
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sport</h2>
        <ul>
            Le sport est un ensemble d'exercices physiques se pratiquant sous forme de jeux individuels ou collectifs pouvant donner lieu à des compétitions. Le sport est un phénomène presque universel dans le temps et dans l'espace humain. La Grèce antique, la Rome antique, Byzance, l'Occident médiéval puis moderne, mais aussi l'Amérique précolombienne ou l'Asie, sont tous marqués par l'importance du sport. Certaines périodes sont surtout marquées par des interdits.
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Business</h2>
        <ul>
            Le terme anglais de business school désignait initialement les écoles américaines qui enseignent les matières et techniques liées au monde des affaires.
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Education</h2>
        <ul>
            L’éducation est étymologiquement « guidée hors de » (du latin educere), c'est-à-dire développer, faire produire. Il signifie maintenant plus couramment l'apprentissage et le développement des facultés intellectuelles, morales et physiques, les moyens et les résultats de cette activité de développement. L'éducation humaine inclut des compétences et des éléments culturels caractéristiques du lieu géographique et de la période historique
        </ul>
    </div>
</div>